.thing-form {
    margin: 20px 0;
    background-color:white;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}
h2  { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   width :auto;
   display:inline;
}
h4  { 
   color: white; 
   font: bold 14px/24px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   margin-left:20px;
   padding: 10px; 
   width :auto;
   display:inline;
}
.block {
   margin:10px; 
}
img{
    margin-bottom:10px;
}
.row{
    margin-bottom:10px;
}
.main{
    height: 100%;
    margin:0px;
    background: url(../../assets/images/collegebar.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.full{
    height:100vh;
}