<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-hide="hasLocation">
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <form class="thing-form">
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Enter Location Here (City, State)" ng-model="place">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="setLocation()">Set Location</button>
      </span>
    </p>
  </form>
</div>
<div class="container" ng-show="hasLocation">
  <a href="http://www.yelp.com"><img src="/assets/images/yelp.gif" ></a>
<div class="row" >
   
      <ul class="list-group" ng-repeat="business in businesses" ng-if="$index < 10" >  
        <li class = "list-item" >
            <button class="btn btn-warning" ng-click="going()">{{numGoing}} Going</button>
            <img ng-src="{{business.image_url}}">
            <h2 ng-click="gotoYelp(business.url)">{{business.name}}</h2>
            <h4>{{business.location.cross_streets||business.location.address[0]}}</h4>
       
        </li>
      </ul>
  </div>
</div>
